# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
*.hypothesis/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#Kaggle / Large Data fallback
(Uncomment below if you want to keep data out of Git)
data/*.csv

# Node (if any)
node_modules/
npm-debug.log
