{% extends "base.html" %}

{% block title %}SnapEat Forgot Password{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authStyles.css') }}">
{% endblock %}

{% block content %}
<div class="pageContainer">
    <!-- Forgot Password Card -->
    <div class="authCard text-center">
        <!-- Main Form -->
        <form id="forgotPasswordForm">
            <h2 class="authTitle">Reset Password</h2>
            <p class="authHelpText text-start mb-4">Enter your email address and we'll send you a link to reset your password.</p>

            <!-- Email Input -->
            <div class="customInputWrapper mb-2">
                <input type="email" class="form-control customInput" placeholder="Email" id="forgotEmail" required>
                <i class="bi bi-envelope customInputIcon"></i>
            </div>

            <!-- Error Message below inputs, hidden by default -->
            <div id="forgotErrorMessage" class="errorMessage text-danger mb-3 text-start"></div>

            <!-- Reset Button -->
            <div class="d-grid col-8 mx-auto mb-3 mt-4">
                <button type="submit" class="btn authBtn">SEND LINK</button>
            </div>
        </form>

        <!-- Bottom Login Text -->
        <div class="bottomTextWrapper">
            <span class="bottomText">Remember your password? <a href="/login" class="signupLink">Login</a></span>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='js/authLogic.js') }}"></script>
{% endblock %}
